.detail-transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 1.3;

  &__info-icon {
    cursor: pointer;
  }

  &__label {
    @include flex-align-center(4);
    color: var(--gray);
  }

  &__value {
    color: rgba(#fff, .9);
    text-align: right;

    &-with-explorer {
      @include flex-align-center(4);
    }
  }

  &__explorer-btn {
    @include flex-center;
  }

  &__value--with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__network-icon {
    border-radius: 50%;
    object-fit: cover;
  }

  &__fee {
    &-container {
      @include flex-align-center(8);
    }

    &-section {
      @include flex-column(0);
    }

    &-top {
      @include flex-align-center(4);
      justify-content: flex-end;
    }

    &-bottom {
      margin-left: auto;
      font-size: 12px;
      color: var(--gray-100);
    }

    &-next-icon {
      cursor: pointer;
    }
  }
}