.transaction-review {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 28px;
  padding: 12px 0;

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__image {
    border-radius: 50%;
    object-fit: contain;
  }

  &__amount {
    @include flex-column(5);
    font-weight: 600;
  }

  &__crypto {
    font-size: 20px;
    line-height: 1.3;
    color: rgba(#fff, .9);
  }

  &__usd {
    font-size: 14px;
    color: var(--gray);
  }

  &__badge {
    @include objectCoverBg;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    width: 16px;
    height: 16px;
  }
}