:root {
  --primary-color: #48FF8A;
  --secondary-color: #1B1B1C;
  --black-100: #242426;
  --black-200: #2C2C2D;
  --black-300: #343436;
  --black-400: #343435;
  --gray: #A0A2A4;
  --red: #E85656;
  --white: #FFFFFF;
  --font-base: 'Binance PLEX', sans-serif;
  --font-base-medium: 'Binance PLEX Binance Plex', sans-serif;
}