.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: var(--secondary-color);
  backdrop-filter: blur(2px);
  pointer-events: all;

  &__spinner {
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
    transform-origin: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}