.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 14px 0 18px;

  &__back {
    @include flex-center;
    width: 36px;
    height: 36px;
    background-color: #2b2b2e;
    border-radius: 12px;
    &:hover {
      background-color: #3e3e43;
    }
  }

  &__title {
    @include flex-column(3);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: rgba(#fff, .9);
    text-align: center;

    span {
      font-family: var(--font-base-medium);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -.01em;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 36px;
  }

  &__settings {
    @include flex-center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}