.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 14px;
  margin-bottom: 18px;

  &__main {
    @include flex-align-center(4);
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  &__account {
    color: rgba(#fff, 0.48);
    font-family: var(--font-base-medium);
  }

  &__actions {
    @include flex-align-center(6);
  }

  &__btn {
    @include flex-center;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: var(--black-200);
  }
}