.transactions-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 6px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }
}

.trust-load-more-btn {
  @include flex-center;
  background: #23402E;
  color: var(--primary-color);
  padding: 10px 17px;
  font-weight: 600;
  height: 36px;
  border-radius: 66px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background: rgba(72, 255, 145, 0.2);
  }

  &:active {
    background: rgba(72, 255, 145, 0.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}