.footer-panel {
  position: relative;
  background-color: var(--secondary-color);
  padding: 16px 26px;
  margin: 0 -14px;
  border-top: 1px solid var(--black-200);

  &__list {
    @include flex-between-center-gap(10);
  }

  &__link {
    @include flex-column(3);
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 600;

    &.active {
      color: var(--primary-color);
      svg path {
        fill: var(--primary-color);
      }
    }
  }
}