.crypto-list {
  padding-bottom: 22px;

  &__items {
    @include flex-column(16);
    margin-bottom: 10px;
  }

  &__manage {
    font-weight: 600;
    color: var(--primary-color);
    @include flex-center;
    margin: 0 auto;
  }
}