@import "./assets/css/reset.css";
@import "./assets/css/global.scss";
@import "./assets/css/fonts.css";
@import "./assets/css/btn.scss";

html, body {
  height: 100%;
}

body {
  background: #1B1B1C;
  color: white;
  font-family: 'Binance PLEX', sans-serif;
  font-size: 14px;
  overflow-y: hidden;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

#root {
  height: 100%;
  position: relative;
}

.extension-wrapper {
  position: relative;
  max-width: 438px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
}

.trust-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &.transitioning {
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}

.trust-main {
  display: flex;
  flex: 1 1 0;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4D4D4E transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4D4D4E;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 8px;
  }
}

.badge {
  @include flex-center;
  padding: 8px 12px;
  font-weight: 500;
  font-family: var(--font-base-medium);
  background-color: var(--black-400);
  border-radius: 4px;
  position: absolute;
  right: -11px;
  top: -41px;
  display: none;
  pointer-events: none;
}