@import "./assets/css/reset.css";
@import "./assets/css/global.scss";
@import "./assets/css/fonts.css";

body {
  background: #1B1B1C;
  color: white;
  font-family: 'Binance PLEX', sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.extension-wrapper {
  max-width: 438px;
  width: 100%;
  height: 100%;
  padding: 0 14px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}