.transaction-detail {
  @include flex-column(0);
  flex: 1 0 auto;
  height: 100%;
  padding-bottom: 18px;
}

.token-icon-container {
  @include flex-center;
  margin-bottom: 6px;
}

.token-icon-wrapper {
  position: relative;
}

.token-network-icon {
  position: absolute;
  right: -5px;
  top: 30px;
}

.detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.detail-card {
  @include flex-column(0);
  height: 100%;
}

.amount-section {
  text-align: center;
  margin-bottom: 2px;
}

.crypto-amount {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--font-base-medium);
  margin-bottom: 7px;
}

.usd-amount {
  font-size: 14px;
  color: var(--gray);
  font-weight: 500;
  font-family: var(--font-base-medium);
}

.detail-grid {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid #4D4E4E;

  &__right {
    @include flex-align-center(4);
  }

  &__right button {
    @include flex-center;
  }
}

.detail-row:last-child {
  border-bottom: none;
}

.detail-label {
  @include flex-align-center(4);
  font-weight: 600;
  letter-spacing: -0.01em;
  color: var(--gray);

  &.cursor {
    cursor: pointer;
  }
}

.detail-value {
  font-weight: 600;
  text-align: right;
  color: rgba(#fff, .9);
  letter-spacing: -0.01em;
}

.status-confirmed {
  @include flex-align-center(4);
  color: var(--green-200);
}

.transaction-detail {
  @include flex-column(0);
  flex: 1 0 auto;
  height: 100%;
  padding-bottom: 18px;
  position: relative;
  min-height: 100vh;
}

.btn-container {
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 18px;
}